@{
    ViewData["Title"] = "Home Page";
}

<div id="banner" class="text-center">
    <h1 class="display-2 text-light" style="margin:15%">&lt;Hello World&gt;</h1>
        
    <div class="opaque-text">
        <p class="display-6 text-light">IT'S YOUR FAVORITE ENGINEER</p>
    </div>
</div>

<div id="about" class="backdrop p-5">
    <div class="row fs-2">
        <div class="col pb-3">ABOUT</div>
        <i class="col-1 bi bi-file-person-fill"></i>
    </div>

    <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum leo nulla, rhoncus at lorem at, laoreet maximus nisi. Donec ut posuere turpis, eu sollicitudin metus. Curabitur a tempor ligula. Vestibulum at molestie neque. Vivamus dapibus lorem nec nibh blandit, id accumsan augue interdum. Nunc risus elit, vehicula vel auctor eu, consequat et orci. Ut lobortis maximus laoreet. In at ante sit amet est interdum aliquet. Mauris pulvinar, eros sed laoreet ornare, nunc leo dapibus sapien, in aliquet massa ex sed lacus. Cras lorem tellus, egestas ac diam malesuada, faucibus aliquam orci. In faucibus, tellus ac accumsan pretium, nulla nunc varius nisi, at sodales urna lorem nec nisi. Aliquam mauris magna, gravida at elementum a, venenatis et purus. Pellentesque eleifend porta mauris, egestas accumsan libero imperdiet id. Mauris leo metus, suscipit eget arcu sit amet, pretium fringilla justo.
    </blockquote>
</div>

