@{
    ViewData["Title"] = "Home Page";
}

<div id="banner" class="text-center">
    <h1 class="fs-1 display-6 text-light" style="margin:15%">&lt;Hello World&gt;</h1>
        
    <div class="opaque-text">
        <p class="fs-2 text-light">IT'S YOUR FAVORITE ENGINEER</p>
    </div>
</div>

<div id="qualifications" class="card backdrop p-5 mb-5">
    <div class="row fs-2">
        <div class="col pb-3">QUALIFICATIONS</div>
        <i class="col-1 bi bi-bookmark-check-fill"></i>
    </div>
        <blockquote>
            Server-side Software Engineer with <span id="counter"></span> of experience
        </blockquote>
</div>

<div id="about" class="card backdrop p-5 mb-5">
    <div class="row fs-2">
        <div class="col pb-3">ABOUT</div>
        <i class="col-1 bi bi-file-person-fill"></i>
    </div>

    <blockquote>
        <p>Hi, I'm Dreek, nice to see you here and welcome to my online resume / portfolio.
             Born in Lagos on the 22nd day of November 2000, I'm the all Nigerian boy next door.</p>
        <p>"Dreek" is really just a pseudonym of sorts I use for business related activities.
            The names mother and father gave me are <span class="fw-bold">Chiemelie Michael Chukwuma</span>.
            Emelie For short. That translates to "Victory" in English.
        </p>
        <p>Speaking of English, I'm really fluent. At least that's what my 
            <a href="https://drive.google.com/file/d/1f4HGWdNzrHSCnHY4wHEys9bXqEiUpFIK/view?usp=drive_link" target="_blank">IELTS scores</a> say.
            Apologies for the picture there, the lady who took it never informed me that I looked like I was hatching a scheme to take over the world.
            An 8.5, and on my first try too.</p>
            <p>I also know some French, much thanks to the Duolingo team and speak a little Japanese ...
                to myself of course, when practicing everyday. I've got a long way to go on that one.</p>
            <p>During my leisure, you may find me watching anime; I'm fascinated by Japanese culture.
                 I may also be making digital art / animations of my own or reading a dusty old novel I
                  found somewhere in the bookshelf nobody bothers to clean.</p>
    </blockquote>
    <figcaption class="blockquote-footer text-end">
        Emelie Michael Chukwuma
  </figcaption>
</div>

<script src="~/js/site.js" type="text/javascript"></script>

