
<div id="banner" class="text-center">
    <h1 class="display-2 text-light" style="margin:15%">&lt;Hello World&gt;</h1>
        
    <div class="opaque-text">
        <p class="fs-2 text-light">IT'S YOUR FAVORITE ENGINEER</p>
    </div>
</div>
