<div id="contact" class="card backdrop p-5 mb-5">
    <div class="row fs-2">
        <div class="col pb-3">CONTACT</div>
        <i class="col-1 bi bi-envelope-at-fill"></i>
    </div>

    <div class="container">
    <p>Feel free to reach out to me</p>
        <div class="row justify-content-center justify-content-sm-start">
            <a type="button" class="col-12 col-sm fs-5 btn btn-primary m-2 text-lowercase" href="mailto:sevenpointzerozero@gmail.com">sevenpointzerozero@gmail.com <i class="col-1 bi bi-envelope-at-fill"></i></a>
            <a type="button" class="col-12 col-sm fs-5 btn btn-primary m-2" href="tel:+2349076841538">+2349076841538 <i class="col-1 bi bi-whatsapp"></i></a>
        </div>
    <p>Here's my social</p>
        <div class="row justify-content-center justify-content-sm-start">
            <a type="button" class="col-12 col-sm fs-5 btn btn-primary m-2" href="https://www.linkedin.com/in/michael-chukwuma-886851215/" target="_blank">LinkedIn <i class="col-1 bi bi-linkedin"></i></a>
            <a type="button" class="col-12 col-sm fs-5 btn btn-primary m-2" href="https://github.com/dr33k" target="_blank">Github <i class="col-1 bi bi-github"></i></a>
        </div>
    <p>I look forward to hearing from you</p>
    </div>
</div>