<div id="qualifications" class="card backdrop p-5 mb-5">
    <div class="row fs-2">
        <div class="col pb-3">QUALIFICATIONS</div>
        <i class="col-1 bi bi-bookmark-check-fill"></i>
    </div>
    <p>Server-side (Backend) Software Engineer with <span id="counter"></span> of experience</p>
    <p>Click to view</p>
    
    <div class="container">
        <div class="row justify-content-sm-start justify-content-center">
            <a class="col-sm-4 card btn text-white bg-black m-2"
            target="_blank"
            href="https://drive.google.com/file/d/17ym5fgkXTI1A6F-tdj8Rciin73epSX2_/view?usp=sharing" 
            style="max-width: 20rem;">
                <div class="card-header fs-5">Java Certification <i class="bi bi-award-fill"></i></div>
                <div class="card-body">
                    <span class="fs-6">HIIT Plc Certified</span>
                </div>
            </a>

            <a class="col-sm-4 card btn text-white bg-black m-2"
            target="_blank"
            href="https://drive.google.com/file/d/1k3GqZQzi3syAx_uTxkq8k-YzZ_8c-epz/view?usp=drive_link"
            style="max-width: 20rem;">
                <div class="card-header fs-5">Node JS Certification <i class="bi bi-award-fill"></i></div>
                <div class="card-body">
                    <span class="fs-6">The Hong Kong University of Science and Technology Certified</span>
                </div>
            </a>

            <a class="col-sm-4 card btn text-white bg-black m-2"
            target="_blank"
            href="https://drive.google.com/file/d/1-SFTolBUT716AI9mqFB4V6Pltjr1qnhj/view?usp=drive_link"
            style="max-width: 20rem; max-height:5%">
                <div class="card-header fs-5">
                    <div class="row">
                       <div class="col-10 ellipsis">Angular Certification</div> <i class="col bi bi-award-fill justify-self-end"></i></div>
                    </div>
                <div class="card-body">
                    <span class="fs-6">The Hong Kong University of Science and Technology Certified</span>
                </div>
            </a>

        <div class="w-100"></div>

            <a class="col-sm-4 btn card text-white bg-dark m-2" style="max-width: 20rem;">
                <div class="card-header fs-5">Spring Boot Spring Cloud Certification</div>
                <div class="card-body">
                    <span class="fs-6">IN PROGRESS</span>
                </div>
            </a>
            <a class="col-sm-4 btn card text-white bg-dark m-2" style="max-width: 20rem;">
                <div class="card-header fs-5">Solidity: Ethereum Smart Contracts</div>
                <div class="card-body">
                    <span class="fs-6">IN PROGRESS</span>
                </div>
            </a>
        </div>
    </div>    
    <blockquote class="mt-3 mb-3">    
            <p>I pride myself on doing the work everyone else considers too difficult or complex and
                that owes to the the fact that I like a challenge. 
                 <br>Problem solving is my forte, if I had to summarize, that's all I would need to say.
                 <i class="bi bi-question" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="That rhymed!"></i>
                I always get tasks done to the best of my ability and ask for help accordingly. 
                If such help cannot be provided, I workaround my problem and profer a solution.
                Independence is a trait of mine and adaptability is a skill I possess so I work
                productively in a team as well.
            </p>
            <p>Here are my other skills:</p>
    </blockquote>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#java" aria-selected="true" role="tab">Java</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#cs" aria-selected="false" role="tab" tabindex="-1">C#</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#ts" aria-selected="false" role="tab" tabindex="-1">Typescript</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#sql" aria-selected="false" role="tab" tabindex="-1">SQL</a>
        </li>
    </ul>
    <div class="tab-content pt-4 fs-4">
        <div class="tab-pane fade active show" id="java" role="tabpanel">
            <span class="badge bg-primary">SPRING BOOT</span>
            <span class="badge bg-primary">SPRING CLOUD</span>
            <span class="badge bg-primary">QUARKUS</span>
            <span class="badge bg-primary">HIBERNATE ORM</span>
            <span class="badge bg-primary">JUNIT 5</span>
            <span class="badge bg-primary">MOCKITO</span>

        </div>
        <div class="tab-pane fade" id="cs" role="tabpanel">
            <span class="badge bg-primary">.NET CORE 6</span>
            <span class="badge bg-primary">ASP.NET</span>
            <span class="badge bg-primary">ENTITY FRAMEWORK</span>
            <span class="badge bg-primary">RAZOR PAGES</span>
            <p><small><i class="bi bi-circle-fill text-info"></i>The backend of this application runs .NET 6 :)</small></p>
        </div>
        <div class="tab-pane fade" id="ts" role="tabpanel">
            <span class="badge bg-primary">NODE JS</span>
            <span class="badge bg-primary">EXPRESS</span>
            <span class="badge bg-primary">PRISMA ORM</span>
            <span class="badge bg-primary">JEST</span>
            <span class="badge bg-primary">SUPERTEST</span>
        </div>
        <div class="tab-pane fade" id="sql" role="tabpanel">
            <span class="badge bg-primary">POSTGRESQL</span>
            <span class="badge bg-primary">SQL SERVER</span>
        </div>
    </div>
</div>
